body {
  padding-top: 50px;
  background:#333;
}

.add_widget {
    cursor:pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding:15px 0;
    background-color: #000;
    position: relative;
}

.add_widget .glyphicon {
    position:absolute;
    right:15px;
    top:20px;
}

.add_widget:hover {
    background-color: #222;
}

.add_widget:active {
    background-color: #444;
}

.retro_type {
    float:left;
    min-height:50px;
    margin:10px 5px;
    width:216px;
    color: #fff;
    text-align: center;
}

@media (max-width: 700px) {
    .retro_type {
        width:100%;
    }
}

.label {
    font-size:110%;
    min-height:20px;
}

.retro_type ul {
    text-align: left;
    list-style: none;
    color: #333;
    margin:0;
    padding:0;
}

.retro_type .add_form {
    color:#000;
    display: none;
}

.retro_type .add_form textarea {
    width:100%;
}

.retro_type .add_form input {
    height:50px;
    margin:0 0 5px 0;
    width:90%;
}

.retro_type ul li {
    background:#aaa;
    overflow:hidden;
    position: relative;
    padding:5px;
    margin:2px 0 0 0;
}

.retro_type ul li .glyphicon {
    position:absolute;
    right:10px;
    top:10px;
    cursor:pointer;
}

.retro_type.stop ul li {
    background:#e74c3c;
}
.retro_type.stop {
    border: 1px solid #e74c3c;
}

.retro_type.start ul li {
    background:#2ecc71;
}
.retro_type.start {
    border: 1px solid #2ecc71;
}

.retro_type.keep ul li {
    background:#3498db;
}
.retro_type.keep {
    border: 1px solid #3498db;
}

.retro_type.more ul li {
    background:#9b59b6;
}
.retro_type.more {
    border: 1px solid #9b59b6;
}

.retro_type.less ul li {
    background:#f1c40f;
}
.retro_type.less {
    border: 1px solid #f1c40f;
}
