body {
    padding-top: 55px;
    background:#333;
    color:#fff;
}

.add_widget {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding:15px 0;
    /*background-color: #000;*/
    position: relative;
    color:#fff;
}

.add_widget .glyphicon {
    position:absolute;
    cursor:pointer;
    top:20px;
}

.add_widget .glyphicon-plus {
    right:10px;
}

.add_widget .glyphicon-chevron-down, .add_widget .glyphicon-chevron-up {
    left:10px;
}

.retro_type {
    /*float:left;
    min-height:50px;
    margin:10px 5px;
    width:216px;*/

    /*color: #fff;*/
    text-align: center;
}

.label {
    font-size:110%;
    min-height:20px;
}

.retro_type ul {
    text-align: left;
    list-style: none;
    color: #111;
    margin:0;
    padding:0;
}

.retro_type .add_form {
    color:#333;
    display: none;
}
.retro_type .add_form form {
    width:100%;
}

.retro_type ul li {
    overflow:hidden;
    position: relative;
    padding:5px;
    padding-right: 25px;
    margin:2px 0 0 0;
}

.glyphicon {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.retro_type ul li .glyphicon.glyphicon-remove {
    position:absolute;
    right:10px;
    top:10px;
    cursor:pointer;
}

.retro_type ul li .glyphicon.glyphicon-arrow-up {
    float:left;
    cursor:pointer;
    margin:5px 10px 0 0;
}

.retro_type.red ul li {
    background:#e74c3c;
}
.retro_type.red .add_widget {
    border: 1px solid #e74c3c;
    border-bottom: 5px solid #e74c3c;
}

.retro_type.green ul li {
    background:#2ecc71;
}
.retro_type.green .add_widget {
    border: 1px solid #2ecc71;
    border-bottom: 5px solid #2ecc71;
}

.retro_type.blue ul li {
    background:#3498db;
}
.retro_type.blue .add_widget {
    border: 1px solid #3498db;
    border-bottom: 5px solid #3498db;
}

.retro_type.purple ul li {
    background:#C560FF;
}
.retro_type.purple .add_widget {
    border: 1px solid #C560FF;
    border-bottom: 5px solid #C560FF;
}

.retro_type.yellow ul li {
    background:#f1c40f;
}
.retro_type.yellow .add_widget {
    border: 1px solid #f1c40f;
    border-bottom: 5px solid #f1c40f;
}

#code-form {
    margin-top:10px;
}

.board-lock {
    position: relative;
    color: #9D9D9D;
    top:15px;
    left:-5px;
}
.board-lock.unlocked {
    color:#2ecc71;
}
.board-lock.locked {
    color:#e74c3c;
}

.navbar-ellipses {
    color: #9D9D9D;
    position: relative;
    top: 17px;
    left: 2px;
    display: none;
}

@media (max-width: 700px) {
    .retro_type {
        width:100%;
    }
}

@media (max-width: 500px) {
    .navbar-brand {
        max-width: 80%;
        overflow: hidden;
        white-space: nowrap;
    }
}

#avatar {
    height:40px;
    margin:5px;
    float:left;
}
